.cartListDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 2em;
    left: 2em;
    visibility: hidden;
    gap: 1em;
}

#cartIcon {
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
    background-color: #FFFFFF;
    padding: 0.5em;
    fill: #203A43;
    transition: transform 300ms;
}

#cartIcon:hover {
    transform: scale(1.2);
}

.cartListDiv.active{
    visibility: visible;
}

.listContainer{
    display: none;
    padding-right: 1em;
}

.listContainer.active{
    border-radius: 20px;
    display: block;
    background-color: white;
}