.checkoutContainer{
    width: 70vw;
    height: 70vh;
    background-color: white;
    overflow-y: scroll;
    /*overflow-x: hidden;*/
    opacity: 90%;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20pt;
}

#checkoutHead {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkoutTaskButton {
    pointer-events: auto;
    font-size: large;
    padding: 0.7em;
    margin: 1em 0;
    border-radius: 2em;
    box-shadow: 3px 3px 7px #bbbbbb;
    background-color: rgba(15, 32, 39);
    color: white;
    opacity: 0.75;
    transition: 300ms;
}

.checkoutTaskButton:hover {
    transform: none;
    margin: 1em 0;
    box-shadow: 4px 4px 10px #bbbbbb;
    opacity: 1;
    transition: 300ms;
}

#checkoutFinishButton {
    border-radius: 0.5em;
}

.buttonGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#checkoutH1{
    color: #1c1c1c;
}