.configuratorContainer{
    width: 100vw;
    height: 65%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.timelineAndElements{
    height: 100%;
    flex-grow: 4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebarDiv{
    max-height: 100%;
    width: 300px;
    padding: 0;
    flex-grow: 2;
    display: flex;
    justify-content: right;
}

.elements{
    flex-grow: 3;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.timelineContainer{
    display: flex;
    align-items: center;
}

#timeline{
    display: flex;
    width: 50vw;
    align-items: center;
    align-content: center;
}

.timelineStep{
    margin-left: 40pt;
    margin-right: 40pt;
}

.checkoutButton{
    visibility: visible;
}

.checkoutButton.active{
    visibility: hidden;
}