.audioItem{
    width: 100pt;
    height: 100pt;
    margin: 10pt;
    transition: 0.15s;
    filter: drop-shadow(0px 3px 3px rgb(37, 37, 37));
}

.audioItem:hover{
    transform: scale(1.1);
}

.itemContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#secondRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.speaker{
    transform: scale(0.7);
}
