button{
    background-color: white;
    padding: 10pt 70pt;
    color: black;
    border-radius: 30pt;
    border: none;
    margin: 10pt;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 0.15s;
}
button:hover{
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    cursor: pointer;
    transform: scale(1.25);
    margin: 15pt;
}
.Logo{
    width: 100pt;
    height: 100pt;
    filter: drop-shadow(0px 3px 3px rgb(37, 37, 37));
    margin-bottom: 50pt;
}
.textInput{
    margin: 10pt 0;
    border-radius: 5pt;
}
.inputField{
    display: flex;
    flex-direction: column;
}
.headerImage{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.timelineStep{
    background-color: #ff2727;
    width: 75px;
    height: 75px;
    margin: 100pt;
    border-radius: 100px;
    opacity: 0;
}

#timeline{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}