.itemEntry{
    display: flex;
    box-shadow: 0 8px 16px 0 rgba(94, 94, 94, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    flex-direction: column ;
    align-items: center;
    background-color: white;
    width: 200pt;
    border-radius: 10px;
    margin: 10pt;
}

.itemEntry > p {
    margin: 0.3em;
}

.itemEntry.active{
    background-color: #49ff49;
}

.itemEntry:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #22b722;
    transition: background-color 150ms ease-in-out;
}