.listItemContainer{
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.listItemContainerAll{
    width: 68vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: #d7d7d7;
    margin-top: 45px;
    border-radius: 5px;

}

.checkoutItemButton{

}