.RegisterContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.RegisterForm{
    background-color: white;
    padding: 10pt 70pt;
    border-radius: 10px;
    margin-bottom: 20pt;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
h1{
    color: white;
}

#errorTxt {
    text-align: center;
}
