.setupItem {
    transform-origin: left;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #bbbbbb;
    transition: box-shadow 200ms;
}

.setupItem:hover {
    box-shadow: 5px 5px 10px #bbbbbb;
    transform-origin: left;
    transition: box-shadow 200ms;
}

.setupItem * {
    pointer-events: none;
}

.setupItemHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2vw;
}

.loadSetupButton {
    pointer-events: auto;
    font-size: medium;
    padding: 0 1em;
    margin: 1em 0;
    border-radius: 0.7em;
    box-shadow: 3px 3px 7px #bbbbbb;
    background-color: rgba(15, 32, 39);
    color: white;
    opacity: 0.75;
    transition: 300ms;
}

.loadSetupButton:hover {
    transform: none;
    margin: 1em 0;
    box-shadow: 4px 4px 10px #bbbbbb;
    opacity: 1;
    transition: 300ms;
}

.setupItem > h2 {
    text-align: center;
}

.setupItem.active > .componentsContainer > .componentContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-left: 10%;
}

.setupItem.active > .componentsContainer > .componentContainer:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.09);
}