.setupsContainer {
    width: 50vw;
}

#setupList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    background-color: white;
    border-radius: 20px;
    padding: 2em;
    max-height: 55vh;
    overflow: hidden auto;
    scroll-behavior: smooth;
}

.loggedOffContainer {
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginButton {
    width: min-content;
}