.sidebar{
    left: 100%;
    transition: 500ms;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar.active{
    left: 0;
    max-height: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 20px;
    background-color: #424242;
    flex-grow: 1;
    transition: 500ms;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-inline: 10pt;
}

#sidebarItems {
    overflow-y: auto;
}

#searchbar {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#searchButton {
    background-color: white;
    padding: 0.1em;
    border-radius: 0.5em;
}
