.StartContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Logo{
    width: 100pt;
    height: 100pt;
    filter: drop-shadow(0px 3px 3px rgb(37, 37, 37));
    margin-bottom: 50pt;
}
