#userDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 2em;
    right: 0;
}

#userIcon {
    margin-right: 2em;
    width: 5em;
    height: 5em;
    transition: 300ms transform;
}

#userIcon:hover {
    transform: scale(1.2);
}

#userDropdown.disabled{
    border-radius: 1em;
    background-color: white;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: top;
    transform: scale(1, 0);
    transition: 300ms transform ease-in 200ms;
}

#userDropdown.enabled{
    border-radius: 1em;
    background-color: white;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: top;
    transform: scale(1, 1);
    transition: 300ms transform ease-out;
}

#userDropdown.disabled > *{
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

#userDropdown.enabled > *{
    opacity: 1;
    transition: opacity 200ms ease-in-out 300ms;
}

#username {
    font-size: large;
    text-align: center;
    margin-bottom: 1em;
}

#userDropdown > button {
    box-shadow: none;
    width: fit-content;
    margin: 0.2em 0em;
    padding: 0.5em 1em;
    border: solid 1px black;
    transition: none;
}

#userDropdown > button:hover {
    box-shadow: none;
    cursor: pointer;
    transform: scale(1);
    margin: 0.2em 0em;
    border-width: 2px;
}