<script>
    import Icon from "../Assets/shopping_basket_black_24dp.svg"

    export let itemCount = 0
    export let items = {}
    export let cartActive = false
    let listToggled = false
</script>

<div class={cartActive ? "cartListDiv active" : "cartListDiv"}>
    <img src={Icon} id='cartIcon' on:click={() => {listToggled = !listToggled}}/>
    <div class={listToggled ? 'listContainer active' : 'listContainer'}>
        <ul>
            {#if items["daw"] !== undefined}
                <li>DAW: {items["daw"].name}</li>
            {/if}
            {#if items["monitor"] !== undefined}
                <li>Monitor Lautsprecher: {items["monitor"].name}</li>
            {/if}
            {#if items["interface"] !== undefined}
                <li>Audio Interface: {items["interface"].name}</li>
            {/if}
            {#if items["headphones"] !== undefined}
                <li>Kopfhörer: {items["headphones"].name}</li>
            {/if}
        </ul>
    </div>
    <div id="cartListCount">
        {itemCount}
    </div>
</div>

<style>
    .cartListDiv {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 2em;
        left: 2em;
        visibility: hidden;
        gap: 1em;
    }

    #cartListCount {
        position: absolute;
        text-align: center;
        color: white;
        width: 1.5rem;
        height: 1.5rem;
        background: #203A43;
        border: 1px solid white;
        border-radius: 50%;
    }

    #cartIcon {
        border-radius: 50%;
        width: 3.5em;
        height: 3.5em;
        background-color: #FFFFFF;
        padding: 0.5em;
        fill: #203A43;
        transition: transform 300ms;
    }

    #cartIcon:hover {
        transform: scale(1.2);
    }

    .cartListDiv.active {
        visibility: visible;
    }

    .listContainer {
        display: none;
        padding-right: 1em;
    }

    .listContainer.active {
        border-radius: 20px;
        display: block;
        background-color: white;
    }
</style>