<script>
	export let number;
	export let category;
	export let name;
	export let preis;
	export let link;
</script>

<div class='checkoutItemContainer'>
	<div class='checkoutListItemDataContainer'>
		<p>{number}. {category}</p>
		<p>{name}</p>
		<p>{preis}€</p>
	</div>
	<a href={link} target='_blank'><button class='checkoutItemButton'>Zu Thomann</button></a>
</div>

<style>
	.checkoutItemContainer{
      width: 68vw;
      height: 10vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      background-color: #d7d7d7;
      margin-top: 45px;
      border-radius: 5px;
	}
	.checkoutListItemDataContainer{
      width: 50vw;
      height: 10vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
	}
</style>