<script>
	import monitorIcon from '../assets/screen.svg';
	import speakerIcon from '../assets/monitor.svg';
	import headphonesLogo from '../assets/headphones.svg';
	import interfaceLogo from '../assets/interface.svg';
	import { createEventDispatcher, onMount } from 'svelte';

	export let alreadySelectedItems
	export let sidebarHandler;

	const dispatch = createEventDispatcher()
	let category = 'none'

	const changeCategory = (newCategory) => {
		category = newCategory
		dispatch('categoryChanged', {
			'category': category
		})
	}


</script>

<div id='itemContainer' data-coachmark="0"
	 data-coachmark-text="Klicke auf die Items, um dir alle Produkte dieser Kategorie anzeigen zu lassen.">
	<div class={alreadySelectedItems.includes('daw') ? 'audioItem selected' : 'audioItem'} on:click={() => {
		sidebarHandler(true)
		changeCategory('daw')}}>
		<img src={monitorIcon} alt='Icon of a screen'/>
	</div>
	<div id='secondRow'>
		<div class={alreadySelectedItems.includes('monitor') ? 'audioItem selected' : 'audioItem'} on:click={() => {
			sidebarHandler(true)
			changeCategory('monitor')
		}}>
			<img class='speaker' src={speakerIcon} alt='Icon of a speaker' />
		</div>
		<div class={alreadySelectedItems.includes('interface') ? 'audioItem selected' : 'audioItem'} on:click={() => {
			sidebarHandler(true)
			changeCategory('interface')
		}}>
			<img src={interfaceLogo} alt='Icon of a interface' />
		</div>
		<div class={alreadySelectedItems.includes('headphones') ? 'audioItem selected' : 'audioItem'} on:click={() => {
			sidebarHandler(true)
			changeCategory('headphones')
		}}>
			<img src={headphonesLogo} alt='Icon of headphones' />
		</div>
		<div class={alreadySelectedItems.includes('monitor') ? 'audioItem selected' : 'audioItem'} on:click={() => {
			sidebarHandler(true)
			changeCategory('monitor')
		}}>
			<img class='speaker' src={speakerIcon} alt='Icon of a speaker' />
		</div>
	</div>
</div>

<style>
    .audioItem{
        width: 100pt;
        height: 100pt;
        margin: 10pt;
        transition: 0.15s;
        filter: drop-shadow(0px 3px 3px rgb(37, 37, 37));
    }

		.audioItem.selected {
        filter: drop-shadow(0px 3px 3px rgb(89, 194, 73));
		}

    .audioItem:hover{
        transform: scale(1.1);
    }

    #itemContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #secondRow{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .speaker{
        transform: scale(0.7);
				position: relative;
				top: -75px;
    }

</style>
