<script>
    import {bearerToken} from "../bearerStore";

    export let setupId = 0
    export let setupNumber = 0
    export let setupName = ""
    let components = getComponents(setupId)
    let sum = 0

    for (let component of components) {
        console.log(component)
        if (component.type === "monitor") {
            sum += parseFloat(component.price) * 2
        } else {
            sum += parseFloat(component.price)
        }
    }

    function loadSetup() {
        let itemdata = {};
        for (let i = 0; i < components.length; i++) {
            itemdata[components[i].type] = {
                id: components[i].id,
                category: components[i].type,
                name: components[i].name,
                price: components[i].price,
                link: components[i].link
            }
        }
        localStorage.setItem("itemData", JSON.stringify(itemdata));
        window.location.href = '/configurator'
    }

    function onActive(event) {
        if (event.target.classList.contains("setupItem")) {
            if (event.target.classList.contains("active")) {
                event.target.classList.remove("active");
                event.target.lastElementChild.hidden = true;
            } else {
                event.target.classList.add("active");
                event.target.lastElementChild.hidden = false;
            }
        }
    }

    function getComponents(setupid) {
        let request = new XMLHttpRequest()
        request.open('GET', "http://localhost:8000/setup/components/" + setupid, false);
        request.setRequestHeader("Authorization", "Bearer " + $bearerToken);

        try {
            request.send();
        } catch (e) {
            console.log(e);
        }

        let response = request.responseText;

        if (response.startsWith("[{")) {
            return JSON.parse(response);
        }
    }
</script>

<div id={"setup" + setupNumber} class="setupItem" on:click={onActive}>
    <div class="setupItemHeader">
        <h2>{setupName.length === 0 ? "Setup " + (setupNumber + 1) : setupName}</h2>
        <button class="loadSetupButton" on:click={loadSetup}>Laden</button>
    </div>
    <div class="componentsContainer" hidden>
        {#each components as component}
            <div class="componentContainer">
                <p>{component.type.charAt(0).toUpperCase() + component.type.slice(1)}</p>
                <p>{component.name}</p>
                {#if component.type === "monitor"}
                    <p>{component.price + "€ x2"}</p>
                {:else}
                    <p>{component.price + "€"}</p>
                {/if}
            </div>
        {/each}
        <div class="sumContainer">
            <p style="grid-column: 1">Summe:</p>
            <map style="grid-column: 3">{sum + "€"}</map>
        </div>
    </div>
</div>

<style>
    .setupItem {
        transform-origin: left;
        border-radius: 10px;
        box-shadow: 3px 3px 5px #bbbbbb;
        transition: box-shadow 200ms;
    }

    .setupItem:hover {
        box-shadow: 5px 5px 10px #bbbbbb;
        transform-origin: left;
        transition: box-shadow 200ms;
    }

    .setupItem * {
        pointer-events: none;
    }

    .setupItemHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2vw;
    }

    .loadSetupButton {
        pointer-events: auto;
        font-size: medium;
        padding: 0 1em;
        margin: 1em 0;
        border-radius: 0.7em;
        box-shadow: 3px 3px 7px #bbbbbb;
        background-color: rgba(15, 32, 39);
        color: white;
        opacity: 0.75;
        transition: 300ms;
    }

    .loadSetupButton:hover {
        transform: none;
        margin: 1em 0;
        box-shadow: 4px 4px 10px #bbbbbb;
        opacity: 1;
        transition: 300ms;
    }

    .setupItem > h2 {
        text-align: center;
    }

    .componentContainer {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding-left: 10%;
    }

    .sumContainer {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding-left: 10%;
        background-color: rgba(15, 32, 39, 0.5);
        border-radius: 0 0 10px 10px;
        border: 2px solid rgba(15, 32, 39, 0.75);
        font-size: 13pt;
        align-items: center;
        color: white;
    }

    .componentContainer:nth-child(2n) {
        background-color: rgba(0, 0, 0, 0.09);
    }
</style>