<script>
	export let onClick;
	export let name;
	export let className;
	export let price;
	export let id;
	export let listId;
	export let revealDescription;
	export let description
</script>

<div on:click={revealDescription} class={className} id={id} listId={listId}>
	<p>{name}</p>
	<p>{price}€</p>
	{#if className === 'itemEntry revealed'}
		<p>{description}</p>
		<button class='selectButtonSidebarItem' on:click={onClick}>Auswählen</button>
	{/if}
</div>

<style>
    .itemEntry {
        display: flex;
        box-shadow: 0 8px 16px 0 rgba(94, 94, 94, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        flex-direction: column;
        align-items: center;
        background-color: white;
        width: 200pt;
        border-radius: 10px;
        margin: 10pt;
	}

	.itemEntry > p {
		margin: 0.3em;
	}

	.itemEntry.active {
		background-color: #2C5364;
		color: white;
	}

	.itemEntry.active:hover {
		background-color: #2C5364;
		color: white;
		box-shadow: 0 8px 16px 0 rgba(94, 94, 94, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.itemEntry:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		background-color: #939393;
		transition: background-color 150ms ease-in-out;
	}

	.selectButtonSidebarItem:hover {
		box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
		cursor: pointer;
		transform: scale(1.1);
        margin: 15pt;
		}
</style>