<script>
	import SidebarItem from './sidebarItem.svelte';
	import { onMount } from 'svelte';

	//prop-variablen
	export let sidebarHandler;
	export let sidebarToggled;
	export let currentCategory = 'none';
	export let countHandler;
	export let itemSetter;
	export let selectedItems;
	export let deleteItem;

	//non-prop variablen
	let items = [];
	$: if (currentCategory !== 'none') {
		items = getItems(currentCategory);
	}
	let alreadySelectedCategories = [];
	let searchText = '';
	let minValue, maxValue;
	let currentlySelectedItem = ''

	onMount(() => {
		if (Object.keys(selectedItems).length === 4) {
			alreadySelectedCategories = ['interface', 'headphones', 'monitor', 'daw'];
		}
		minValue = document.getElementById('minPreis').value;
		maxValue = document.getElementById('maxPreis').value;
	});

	const getCategoryDisplayName = (category) => {
		switch (category) {
			case "headphones":
				return "Kopfhörer"
			case "interface":
				return "Audio Interface"
			case "monitor":
				return "Monitor Lautsprecher"
			default:
				return category.substring(0, 1).toUpperCase() + category.substring(1)
		}
	}

	const getItems = (category) => {
		let request = new XMLHttpRequest();
		request.open('GET', 'http://localhost:8000/components/' + category, false);

		try {
			request.send();
		} catch (e) {
			console.log(e);
		}
		let response = request.responseText;
		response = JSON.parse(response);

		let items = [];

		for (let i = 0; i < response.length; i++) {
			if (searchText !== null && searchText.trim().length !== 0 && !response[i].name.toUpperCase().includes(searchText.toUpperCase())) {
				continue;
			}
			let item = {
				listId: i,
				id: response[i]['id'],
				name: response[i]['name'],
				price: response[i]['price'],
				link: response[i]['link'],
				description: response[i]['description'],
				click: function() {
					if (alreadySelectedCategories.includes(currentCategory)) {
						countHandler(0);
					} else {
						alreadySelectedCategories = [...alreadySelectedCategories, currentCategory];
						countHandler(1);
					}
					if (currentCategory === 'monitor') itemSetter(currentCategory, item.id, response[i]['name'], response[i]['price'] * 2, response[i]['link']);
					else itemSetter(currentCategory, item.id, response[i]['name'], response[i]['price'], response[i]['link']);
				},
				revealDesc: function() {
					if(currentlySelectedItem === response[i]['name']) currentlySelectedItem = '';
					else{
						currentlySelectedItem = response[i]['name']
						console.log(currentlySelectedItem)
					}

				}
			};
			items.push(item);
		}
		return items;
	};


</script>

<div data-coachmark='1'
	 data-coachmark-text='Wähle dir aus der Liste eins der Items aus und bestätige es mit dem Auswählen Knopf.'
	 id={sidebarToggled ? 'sidebaractive' : 'sidebar'}>
	<h1>{getCategoryDisplayName(currentCategory)}</h1>
	<div id='searchbar'>
		<input id='searchInput' type='text' placeholder='Suche' on:input={(event) => {
                        searchText = event.target.value}}/>
	</div>
	<div id='rangeContainer'>
		<label for='minPreis'>Min. Preis</label>
		<input id='minPreis' type='number' min='0' placeholder='0' value='0' on:input={(event) => {
			if(event.target.value === '' ) minValue = 0
			else minValue = event.target.value
		}}>
		<label for='maxPreis'>Max. Preis</label>
		<input id='maxPreis' type='number' placeholder='2000' value='2000' on:input={(event) => {
			if(event.target.value === '' ) maxValue = 2000
			else maxValue = event.target.value
		}}>
	</div>
	<div>
		{#each items as item}
			{#if item.name.toLowerCase().includes(searchText.toLowerCase()) && item.price >= parseFloat(minValue) && item.price <= parseFloat(maxValue)}
				<SidebarItem
					className={alreadySelectedCategories.includes(currentCategory)  && selectedItems[currentCategory].name === item.name ? 'itemEntry active' :
					(currentlySelectedItem === item.name ? 'itemEntry revealed' : 'itemEntry' )}
					listId={item.listId} id={item.id} name={item.name} price={item.price} onClick={item.click}
					revealDescription={item.revealDesc} description={item.description} />
			{/if}
		{/each}
	</div>
	<button on:click={() => {sidebarHandler(false)}}>Abbrechen</button>
	{#if alreadySelectedCategories.includes(currentCategory)}
		<button on:click={() => {
			countHandler(-1);
			alreadySelectedCategories.splice(alreadySelectedCategories.indexOf(currentCategory),1)
			alreadySelectedCategories = alreadySelectedCategories
			deleteItem(currentCategory)
		}}>Abwählen
		</button>
	{/if}
</div>

<style>
    #sidebar {
        left: 100%;
        transition: 500ms;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #sidebaractive {
        width: 150pt;
        left: 0;
        max-height: 100%;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        background-color: #424242;
        flex-grow: 1;
        transition: 500ms;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-inline: 10pt;
        overflow-y:auto
    }

    #searchbar {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    h1 {
        color: white;
    }

    label {
        color: white;
    }

    #rangeContainer {
        margin-top: 10px;
    }

    #rangeContainer input {
        width: 60px;
    }
</style>
