<script>
	import { onMount } from 'svelte';

	export let coloredItems = 0;

	let temp = 0

	$:if (coloredItems != null) {
		colorItems(coloredItems);
	}


	onMount(() => {
		if(coloredItems === 4){
			colorItems(coloredItems)
		}
	})

	const colorItems = (count) => {
		let timelineSteps = document.getElementsByClassName('timelineStep');

		if (count >= temp) {
			for (let i = 0; i < count; i++) {
				timelineSteps[i].style.backgroundColor = '#4df63e';
			}
			temp = count
		}
		if(count < temp){
			let tempArray = Array.of(timelineSteps)
			for (let i = 0; i < tempArray[0].length; i++){
				timelineSteps[i].style.backgroundColor = '#ff2727';
			}
			for (let i = 0; i < count; i++) {
				timelineSteps[i].style.backgroundColor = '#4df63e';
			}
			temp = count
		}
	};
</script>

<div id='timeline'>
	<div class='timelineStep'>

	</div>

	<div class='timelineStep'>

	</div>
	<div class='timelineStep'>

	</div>
	<div class='timelineStep'>

	</div>
</div>

<style>
    #timeline {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-evenly;
		flex-grow: 1;
	}

    .timelineStep {
		background-color: #424242;
		width: 75px;
		height: 75px;
		border-radius: 100px;
		opacity: 1;
		border: 3px solid #1c1c1c;
	}
</style>







