*{
    font-family: 'Manrope', sans-serif;
}
html {
    height: 100vh;
}

body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 15px;
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 95vh;
}
button{
    background-color: white;
    padding: 10pt 70pt;
    color: black;
    border-radius: 30pt;
    border: none;
    margin: 10pt;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 0.15s;
}
button:hover{
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    cursor: pointer;
    transform: scale(1.25);
    margin: 15pt;
}
.textInput{
    margin: 10pt 0;
    border-radius: 5pt;
}
.inputField{
    display: flex;
    flex-direction: column;
}
form{
    background-color: white;
    padding: 10pt 70pt;
    border-radius: 10px;
    margin-bottom: 20pt;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

