<script>
    import '../styles/global.css';
    import logo from '../assets/Logo.svg';
    import userIcon from '../assets/account_circle_black_24dp.svg'
    import {bearerToken} from "../bearerStore";

    let user = ""

    bearerToken.subscribe(token => {
        if (token !== "") {
            let request = new XMLHttpRequest()
            request.open('GET', "http://localhost:8000/auth", false);
            request.setRequestHeader("Authorization", "Bearer " + token);

            try {
                request.send();
            } catch (e) {
                return undefined
            }
            let response = request.responseText

            if (response.startsWith("{")) {
                $: user = JSON.parse(response)["username"];
            }
        } else {
            user = ""
        }
    })

    let enabled = false

    const logoHandler = () => {
        if(localStorage.getItem('stuffIsSelected')){
            window.addEventListener('beforeunload', event =>  {
                event.returnValue = 'Bist du sicher, dass du den Konfigurator verlassen willst?'})
        }

        let token = localStorage.getItem("bearerToken")
        localStorage.clear()
        if (token !== null) {
            localStorage.setItem("bearerToken", token)
        }
        window.location.href = '/'
    }

    const iconClicked = (event) => {
        enabled = !enabled
    }

    const goToSetups = () => {
        enabled = false
        window.location.href = '/setups'
    }
    const logOut = () => {
        let request = new XMLHttpRequest()
        request.open('POST', "http://localhost:8000/logout?username=" + user);
        request.send();
        bearerToken.set("")
        enabled = false
    }

</script>

<div id="logoHeader">
    <img class='logo' src={logo} alt='My-Studio Logo' on:click={logoHandler}/>

    <div id="userDiv">
        <img id="userIcon" src={userIcon} alt="UserIcon" on:click={iconClicked} hidden={$bearerToken === ""}/>
        <div id="userDropdown" style="transform: scale(1, {enabled ? 1 : 0})">
            <div id="usernameText">{user}</div>
            <button id="savedSetupsBtn" on:click={goToSetups}>Gespeicherte Setups</button>
            <button id="logoutBtn" on:click={logOut}>Ausloggen</button>
        </div>
    </div>
</div>
<slot></slot>

<style>
    .logo {
        width: 100pt;
        height: 100pt;
        filter: drop-shadow(0px 3px 3px rgb(37, 37, 37));
    }

    #logoHeader {
        display: flex;
        justify-content: center;
        margin-bottom: 50pt;
    }

    .logo:hover {
        cursor: pointer;
    }

    #userDiv {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 2em;
        right: 0;
    }

    #userIcon {
        margin-right: 2em;
        width: 5em;
        height: 5em;
        transition: 300ms transform;
    }

    #userIcon:hover {
        transform: scale(1.2);
    }

    #userDropdown {
        border-radius: 1em;
        background-color: white;
        padding: 1em;
        margin: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform-origin: top;
        transform: scale(1, 0);
        transition: 300ms transform ease-in-out 100ms;
    }

    #usernameText {
        font-size: large;
        text-align: center;
        margin-bottom: 1em;
    }

    #userDropdown > button {
        box-shadow: none;
        width: fit-content;
        margin: 0.2em 0em;
        padding: 0.5em 1em;
        border: solid 1px black;
        transition: none;
    }

    #userDropdown > button:hover {
        box-shadow: none;
        cursor: pointer;
        transform: scale(1);
        margin: 0.2em 0em;
        border-width: 2px;
    }
</style>