<script>
	import CheckoutListItem from '../components/checkoutListItem.svelte';
	import {bearerToken} from "../bearerStore";

	let itemData = {};
	let itemDataAsArray = [];
	let summe = 0;

	let saved = false

	if (typeof window !== 'undefined') {
		itemData = JSON.parse(localStorage.getItem('itemData'));
		console.log(itemData);
		for (let key in itemData) {
			let tempObj = itemData[key];
			itemDataAsArray = [...itemDataAsArray, tempObj];
			summe += parseFloat(itemDataAsArray[itemDataAsArray.length - 1].price);
		}
		console.log(itemDataAsArray);
	}

	const goBack = () => {
		window.location.href = '/configurator';
	};
	const finish = () => {
		let token = localStorage.getItem('bearerToken');
		localStorage.clear();
		if (token !== null) {
			localStorage.setItem('bearerToken', token);
		}
		window.location.href = '/';
	};

	const save = (event) => {
		saved = true;

		let setupName = document.getElementById("saveNameInput").value;

		let body = '{"name": "' + setupName + '", "components": [';
		itemDataAsArray.forEach((item) => {
			body += item.id + ",";
		});

		body = body.substring(0, body.length - 1);

		body += "]}";

		console.log(body);

		let request = new XMLHttpRequest()
		request.open('POST', "http://localhost:8000/setup/save", false);
		request.setRequestHeader("Authorization", "Bearer " + $bearerToken);
		request.setRequestHeader("Content-Type", "application/json");

		request.addEventListener("load", function () {
			let response = request.responseText
			console.log("Save Response: " + response)

			if (request.status === 401) {
				bearerToken.set("")
			}
		});

		request.send(body);
	}
</script>

<div id='checkoutContainer'>
	<div id='checkoutHead'>
		<h1 id='checkoutHeading'>Auswahl</h1>
		{#if $bearerToken.length !== 0}
			<div id="checkoutSaveHead">
				{#if !saved}
					<input type="text" id="saveNameInput" placeholder="optional: Setupname"/>
					<button class="checkoutTaskButton" id="saveButton" on:click={save}>Setup speichern</button>
				{:else}
					<p>Gespeichert ✓</p>
				{/if}
			</div>
		{/if}
	</div>
	{#each itemDataAsArray as item, i}
		<CheckoutListItem number={i+1} category={item.category.charAt(0).toUpperCase() + item.category.slice(1)}
											name={item.category === 'monitor' ? `${item.name} (x2)` : item.name} preis={item.price} link={item.link}>

		</CheckoutListItem>
	{/each}
	<p>Summe: {summe}€</p>
	<div id='buttonGroup'>
		<button on:click={() => goBack()} class='checkoutTaskButton'>Zurück</button>
		<button on:click={() => finish()} class='checkoutTaskButton'>Fertig</button>
	</div>
</div>

<style>
    #checkoutContainer {
        width: 70vw;
        height: 70vh;
        background-color: white;
        overflow-y: scroll;
        /*overflow-x: hidden;*/
        opacity: 90%;
        border-radius: 15px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        flex-direction: column;
		align-items: center;
		padding: 20pt;
	}

	#checkoutHead {
		width: 90%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#checkoutSaveHead {
		display: flex;
		gap: 1em;
		align-items: center;
	}

	@keyframes slideIn {
		0% {
			transform: translateX(-50%);
		}
		100% {
			transform: translateX(0);
		}
	}

	#checkoutSaveHead > p {
		animation: 150ms ease-out 0s 1 slideIn;

		font-size: 16pt;
		color: #2C5364;
	}

	#saveNameInput {
		height: fit-content;
		border-width: 0 0 3px 0;
		border-radius: 2px;
		font-size: 12pt;
		border-color: rgba(15, 32, 39);
		transition: 300ms;
	}

	#saveNameInput:focus {
		outline-width: 0;
		border-color: #2C5364;
	}

	.checkoutTaskButton {
		pointer-events: auto;
		font-size: large;
		padding: 0.7em;
		margin: 1em 0;
		border-radius: 2em;
		box-shadow: 3px 3px 7px #bbbbbb;
		background-color: rgba(15, 32, 39);
		color: white;
		opacity: 0.75;
		transition: 300ms;
	}

	.checkoutTaskButton:hover {
		transform: none;
		margin: 1em 0;
		box-shadow: 4px 4px 10px #bbbbbb;
		opacity: 1;
		transition: 300ms;
	}

	#buttonGroup {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
</style>
