<script>
    import Items from '../components/items.svelte';
    import Timeline from '../components/timeline.svelte';
    import Sidebar from '../components/sidebar.svelte';
    import Coachmark from 'coachmarkjs'
    import {onMount} from 'svelte';
    import CartList from "../components/cartList.svelte";

    let category = 'none';
    let sidebarToggleValue = false;
    let helpButtonActive = false
    let selectedItemsCount = null;
    let selectedItems = {}

    $:if (selectedItemsCount > 0) {
        localStorage.setItem('stuffIsSelected', 'true')
    }

    if (typeof window !== 'undefined') {
        if (localStorage.getItem('itemData')) {
            selectedItems = JSON.parse(localStorage.getItem('itemData'))
        }
    }

    onMount(() => {
        if (localStorage.getItem('itemData')) {
            selectedItemsCount = 4
            selectedItems = JSON.parse(localStorage.getItem('itemData'))
        }
    })

    const setItems = (category, id, name, price, link) => {
        selectedItems[category] = {
            id: id,
            category: category,
            name: name,
            price: price,
            link: link
        }
        selectedItems = selectedItems
    }

    const deleteItem = (category) => {
        delete selectedItems[category]
        selectedItems = selectedItems
    }

    const sidebarHandler = (bool) => {
        sidebarToggleValue = bool;
    };
    const countHandler = (number) => {
        if ((selectedItemsCount + number) < 0) {
            selectedItemsCount = selectedItemsCount;
        } else {
            selectedItemsCount = selectedItemsCount + number;
        }
    };

    const goToCheckout = () => {
        let token = localStorage.getItem("bearerToken")
        localStorage.clear()
        if (token !== null) {
            localStorage.setItem("bearerToken", token)
        }
        localStorage.setItem('itemData', JSON.stringify(selectedItems))
        console.log(selectedItems)
        window.location.href = '/checkout'
    }

</script>

<div id='configuratorContainer'>
    <CartList cartActive={selectedItemsCount >= 1} items={selectedItems} itemCount={selectedItemsCount}/>
    <div id='timelineAndElements'>
        <div id='elements'>
            <Items on:categoryChanged={(event) => category = event.detail.category} sidebarHandler={sidebarHandler}
                   alreadySelectedItems={Object.keys(selectedItems)}/>
        </div>
        <div id='timelineContainer'>
            <Timeline coloredItems={selectedItemsCount}/>
            <button class={selectedItemsCount === 4 ? 'checkoutButton visible' : 'checkoutButton' }
                    on:click={() => goToCheckout()}>Auschecken
            </button>
        </div>
    </div>
    <div id='sidebar'>
        <Sidebar sidebarToggled={sidebarToggleValue} sidebarHandler={sidebarHandler} currentCategory={category}
                 countHandler={countHandler} itemSetter={setItems} selectedItems={selectedItems}
                 deleteItem={deleteItem}/>
    </div>
</div>
<div class={helpButtonActive ? 'helpButton active' : 'helpButton' } on:click={() => {
	helpButtonActive = !helpButtonActive
	if(helpButtonActive){
		category = 'interface'
		sidebarHandler(true)
		Coachmark().init()
	}

}}>
    <p>?</p>
</div>

<style>
    #configuratorContainer {
        width: 100vw;
        height: 65%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    #timelineAndElements {
        height: 100%;
        flex-grow: 4;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #sidebar {
        max-height: 100%;
        width: 300px;
        padding: 0;
        flex-grow: 2;
        display: flex;
        justify-content: right;
    }

    #elements {
        flex-grow: 3;
        width: 70%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #timelineContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .checkoutButton {
        visibility: hidden;
    }

    .checkoutButton.visible {
        visibility: visible;
    }

    .helpButton {
        width: 75px;
        height: 75px;
        background-color: white;
        position: absolute;
        right: 20px;
        bottom: 20px;
        border-radius: 200px;
        display: flex;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        justify-content: center;
        align-items: center;
        transition: 250ms;
    }

    .helpButton p {
        font-size: 2em;
    }

    .helpButton:hover {
        background-color: #939393;
    }
</style>
