<script>
    import {bearerToken} from "../bearerStore";

    const loginButtonHandler = () => {
        window.location.href = '/login'
    }
    const configButtonHandler = () => {
        window.location.href = '/configurator'
    }
</script>

<div id='buttonContainer'>
    {#if $bearerToken === ""}
        <button on:click={loginButtonHandler}>Einloggen</button>
	{/if}
        <button on:click={configButtonHandler}>Konfiguration starten</button>
</div>

<style>
    #buttonContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>