<script>
	import {bearerToken} from "../bearerStore";

	const backButtonHandler = () =>{
		window.location.href='/'
	}
	const registerButtonHandler = () =>{
		window.location.href='/register'
	}

	const loginButtonHandler = ()  => {
		let request = new XMLHttpRequest();

		request.addEventListener("load", () => {
			let response = request.responseText;
			if (response.startsWith("{")) { //Test if Json
				response = JSON.parse(response);
				if (response.hasOwnProperty("error")) { //Check for error
					console.log(response)
					document.getElementById("errorTxt").innerText = response["error"];
				} else {
					bearerToken.set(response["bearer_token"]);
					window.location.href="/configurator"
				}
			} else {
				document.getElementById("errorTxt").innerText = response;
			}
		});
		let username = document.getElementById("username").value
		let password = document.getElementById("password").value

		request.open("POST", "http://localhost:8000/login?username=" + username + "&password=" + password);
		request.send();
	}
</script>

<div id='loginContainer'>
	<h1>Einloggen</h1>
	<form id='loginForm'>
			<div class='inputField'>
				<label for='username'>Nutzername</label>
				<input id='username' class='textInput' type='text'/>
			</div>
			<div class='inputField'>
				<label for='password'>Passwort</label>
				<input id='password' class='textInput' type='password'/>
				<div id="errorTxt"></div>
			</div>
	</form>
	<button id='loginButton' on:click={loginButtonHandler}>Einloggen</button>
	<div>
		<button id='backButton' on:click={backButtonHandler}>Zurück</button>
		<button id='registerButton' on:click={registerButtonHandler}>Registrieren</button>
	</div>
</div>

<style>
    h1{
        color: white;
    }
    #loginContainer{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
</style>




