<script>
	import {bearerToken} from "../bearerStore";

	const backButtonHandler = () =>{
		window.location.href='/'
	}
	const loginButtonHandler = ()  => {
		window.location.href='/login'
	}
	const registerButtonHandler = () => {
		let request = new XMLHttpRequest();

		request.addEventListener("load", () => {
			let response = request.responseText;
			if (response.startsWith("{")) { //Test if Json
				response = JSON.parse(response);
				bearerToken.set(response["bearer_token"]);
				window.location.href="/configurator"
			} else {
				document.getElementById("errorTxt").innerText = response;
			}
		});
		let url = "http://localhost:8000/register?";
		let username = document.getElementById("username").value
		let password = document.getElementById("password").value
		let email = document.getElementById("email").value

		url += "username=" + username;
		url += "&password=" + password;
		url += "&email=" + email;
		request.open("POST", url);
		request.send();
	}
</script>

<div id='registerContainer'>
	<h1>Registrieren</h1>
	<form id='registerForm'>
		<div class='inputField'>
			<label for='username'>Nutzername</label>
			<input id='username' class='textInput' type='text'/>
		</div>
		<div class='inputField'>
			<label for='email'>E-Mail</label>
			<input id='email' class='textInput' type='email'/>
		</div>
		<div class='inputField'>
			<label for='password'>Passwort</label>
			<input id='password' class='textInput' type='password'/>
		</div>
		<div id='errorTxt'></div>
	</form>
	<button on:click={registerButtonHandler} id='registerButton'>Registrieren</button>
	<div>
		<button on:click={backButtonHandler}>Zurück</button>
		<button on:click={loginButtonHandler}>Einloggen</button>
	</div>
</div>

<style>
	#registerContainer{
      display: flex;
      align-items: center;
      flex-direction: column;
	}
	h1{
			color: white;
	}
  #errorTxt {
      text-align: center;
  }
</style>