<script>
    import {bearerToken} from "../bearerStore";
    import SetupItem from "../components/setupItem.svelte";
    import {Setup} from "../SetupClass";
    import {onMount} from "svelte";

    let setups = []
    let loaded = false

    onMount(() => {
        if ($bearerToken.length !== 0) {
            getSetups()
        }
    })

    function displaySetups(setupDb) {
        if ($bearerToken.length !== 0) {
            console.log(setupDb)
            if (setupDb === undefined) {
                bearerToken.set("")
            } else {
                for (let i = 0; i < setupDb.length; i++) {
                    if (getSetup(setups, setupDb[i]["setupid"]) !== undefined) {
                        getSetup(setups, setupDb[i]["setupid"]).components.push(setupDb[i]["componentid"]);
                    } else {
                        let setup = new Setup(setupDb[i]["setupid"]);
                        setup.components.push(setupDb[i]["componentid"]);
                        setup.name = setupDb[i]["setupname"] === null ? "" : setupDb[i]["setupname"]
                        setups.push(setup);
                    }
                }
                loaded = true
            }
        }
    }

    function getSetups() {
        let request = new XMLHttpRequest()
        request.open('POST', "http://localhost:8000/setup");
        request.setRequestHeader("Authorization", "Bearer " + $bearerToken);

        request.addEventListener("load", () => {
            let response = request.responseText;

            if (response.startsWith("[")) {
                displaySetups(JSON.parse(response));
            }
        });

        request.send();
    }

    function getSetup(list, id) {
        for (let i = 0; i < list.length; i++) {
            if (list[i].id === id) {
                return list[i];
            }
        }
        return undefined;
    }

    const goToLogin = () => {
        window.location.href = '/login'
    }
</script>

<div class="setupsContainer">
    {#if $bearerToken.length === 0}
        <div class="loggedOffContainer">
            <p>Du musst dich einloggen um deine gespeicherten Setups anzuzeigen!</p>
            <button id="loginButton" on:click={goToLogin}>Einloggen</button>
        </div>
    {:else}
        {#if loaded}
            <div id="setupList">
                {#if setups.length !== 0}
                    {#each setups as setup, i}
                        <SetupItem setupName={setup.name} setupNumber={i} setupId={setup.id}/>
                    {/each}
                {:else}
                    <p id="noSetupText">Du hast noch keine Setups gespeichert! <br> Stell dir hier eines zusammen.</p>
                    <div id="configuratorButtonContainer">
                        <button id="configuratorButton" on:click={() => {window.location.href = "/configurator"} }>
                            Konfigurator
                        </button>
                    </div>
                {/if}
            </div>
        {/if}
    {/if}
</div>

<style>
    .setupsContainer {
        width: 50vw;
    }

    #setupList {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1em;
        background-color: white;
        border-radius: 20px;
        padding: 2em;
        max-height: 55vh;
        overflow: hidden auto;
        scroll-behavior: smooth;
    }

    .loggedOffContainer {
        background-color: white;
        padding: 2em;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #loginButton {
        width: min-content;
    }

    #noSetupText {
        text-align: center;
        font-size: 13pt;
    }

    #configuratorButtonContainer {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #configuratorButton {
        width: fit-content;
    }
</style>